{% extends "layouts.html" %}
{% block content %}
    <h1 id="title">The Simplest <br> Game Possible</h1>
    <div id="buttons">
        <button id="play-button" class="functions">Play</button>
        <button id="rules" class="functions">Rules</button>
        <button id="credits" class="functions">Credits</button>
        <button id="review" class="functions">Review</button>
    </div>

    <div class="modal" id="game-mode">
        <div class="modal-inner"> 
            <button id="close-button1" class="close-button">x</button>  
            <h2>Game mode?</h2>
            <p>
                What mode do you wanna play?
            </p>
            <div id="modal-options">
                <button class="modal-button" id="online">Online Multiplayer</button>
                <button class="modal-button" id="local">Local Multiplayer</button>
            </div>
        </div>
    </div>

    <div class="modal" id="troll001">
        <div class="modal-inner">
            <button id="close-button2" class="close-button">x</button>     
            <h2>Come on TOUCH some grass</h2>
            <p>
                Go out!. Go make some friends and get together to play!
            </p>
            <div id="modal-options">
                <button class="modal-button" id="play">Play Local Multiplayer</button>
            </div>
        </div>
    </div>
    
    <div class="modal" id="review1">
        <div class="modal-inner"> 
            <button id="close-button3" class="close-button">x</button>    
            <h2>Review?</h2>
            <p>
                The dev uses trash humour to hide his inferior skillset. 
                Do you think he will give a fuck about your review?
            </p>
            <div id="modal-options">
                <button class="modal-button" id="no-review">Nah</button>
                <button class="modal-button" id="proceed2review1">Still review</button>
            </div>
        </div>
    </div>

    <div class="modal" id="review2">
        <div class="modal-inner">
            <button id="close-button4" class="close-button">x</button>  
            <h2>👉👈</h2>
            <p>
                Or maybe He does give one fuck.
            </p>
            <div id="modal-options">
                <button class="modal-button" id="no-review2">Fuck off dev</button>
                <button class="modal-button" id="proceed2review2">Review</button>
            </div>
        </div>
    </div>

{% endblock content %}