{% extends "layouts.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for("static", filename="CSS/home_page.css") }}">
{% endblock %}

{% block content %}
    <div id="title"><span id="heading">The Simplest Game Possible</span></div>
    <div id="play-btn-border"></div>
    <div id="play-btn">Play</div>
    <div id="credits" class="red-circle">Credits</div>
    <div id="howto" class="red-circle">How To Play</div>
    <div id="review" class="red-circle">Review</div>
    <div id="review-border"></div>

    <dialog id="review1">
        <div class="close-modal-btn">
            <button type="button" class="close-btns">×</button>
        </div> 
        <p> Dev uses trash humour to hide his inferior skillset. Do you think he cares about your review? </p> 
        <div class="modal-btns"> 
            <button type="button" id="r1no">F off</button> 
            <button type="button" id="r1yes">Still do</button> 
        </div> 
    </dialog>
    <dialog id="review2"> 
        <div class="close-modal-btn"> 
            <button type="button" class="close-btns">×</button> 
        </div> 
        <p> Maybe he does 👉👈 </p> 
        <div class="modal-btns"> 
            <button type="button" id="r2no">F off</button> 
            <button type="button" id="r2yes">Review</button> 
        </div> 
    </dialog> 
    <dialog id="review3"> 
        <div class="close-modal-btn"> 
            <button type="button" class="close-btns">×</button> 
        </div> 
        <p> Please review here </p> 
        <div class="modal-btns"> 
            <button type="button" id="tweeter">X tweet</button> 
        </div> 
    </dialog>
{% endblock content %}

{% block extra_js %}
    <script>
        const gameUrl = "{{ url_for('main.game') }}"
    </script>

    <script src="{{ url_for('static', filename='JS/home_page.js') }}"></script>
{% endblock %}