html, body {
    overflow: hidden;
}

#title {
    width: 40vw;
    height: 50vh;
    background-color: black;
    border-radius: 60%;
    position: absolute;
    left: 20%;
    top: -10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffae00;
    box-shadow: 0 0 15px 5px black;
    animation: opening 1.3s ease-in 1;
}

#title:hover {
    cursor: default;
}
#heading {
    color: aliceblue;
    width: 30vw;
    text-align: center;
    font-family: 'Ink Free';
    font-size: 4vw;
    color: #ffae00;
}

#play-btn-border {
    width: calc(60vh + 20px);
    height: calc(60vh + 20px);
    border-radius: 50%;
    border: 7px dashed black;
    position: absolute;
    bottom: calc(-10vh - 10px);
    right: calc(-10vh - 10px);
    animation: rotate 30s linear infinite;
    z-index: 0;
    transition: scale 0.2s ease;
}

#play-btn {
    width: 60vh;
    height: 60vh;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: -10vh;
    right: -10vh;
    font-family: 'Idiqlat';
    font-size: 6vw;
    color: #ffffff;
    text-align: center;
    padding: 15vh 0;
    z-index: 2;
    transition: transform 0.2s ease;
}

#play-btn:hover {
    transform: scale(1.1);
    cursor:pointer;
}

body:has(#play-btn:hover) #play-btn-border {
    scale: 1.1;
}

.red-circle {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background-color: red;
    font-family: 'Idiqlat';
    font-size: 1vw;
    text-align: center;
    padding: 1.5vh;
    padding-top: 2vh;
    border: 2px solid black;
    color: #fff;
}

#how-to-btn {
    position: absolute;
    bottom: 45vh;
    right: 10vh;
    z-index: 1;
    transition: transform 0.2s ease;
}
#credits{
    position: absolute;
    right: 45vh;
    bottom: 10vh;
    z-index: 1;
    padding: 6vh 1vh;
    text-align: left;
    transition: transform 0.2s ease;
}
#review {
    position: absolute;
    bottom: -3vh;
    left: -3vh;
    padding-top: 5vh;
    z-index: 2;
    transition: transform 0.2s ease;
    padding-left: 3vh;
    animation: slide-right 1s ease-in 1;
}
#review-border {
    width: calc(15vh + 10px);
    height: calc(15vh + 10px);
    border-radius: 50%;
    border: 3px dashed black;
    animation: rotate 60s linear infinite;
    position: absolute;
    bottom: calc(-3vh - 5px);
    left: calc(-3vh - 5px);
    z-index: 0;
    transition: scale 0.2s ease;
    box-shadow: 0 0 15px 3px black;
    animation: slide-right 1s ease-in 1;
}
.red-circle:hover {
    transform: scale(1.1);
    cursor:pointer;
}

body:has(#review:hover) #review-border {
    scale: 1.1;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20%;
    min-height: 40%;
    max-height: 70%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    background: rgba(15, 15, 15, 0.65);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    border: 1px solid rgba(255, 174, 0, 0.5);
    border-radius: 25px;

    box-shadow:
        0 0 30px rgba(0, 0, 0, 0.8),
        0 0 20px rgba(255, 174, 0, 0.15);

    color: white;
}

dialog span {
    text-align: center;
    font-size: 1.4vw;
    font-weight: 600;
    margin-bottom: 2vh;
}

#scroller {
    height: 30vh;
    overflow-y: auto;
    margin-bottom: 2vh;
}

#scroller::backdrop {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
}

#scroller::-webkit-scrollbar {
    width: 14px;
    border-radius: 0;
    margin-left: 5px;
}

#scroller::-webkit-scrollbar-track {
    background: transparent;
}

#scroller::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 0;
    border: 2px solid black;
    height: 10%;
}

#scroller::-webkit-scrollbar-thumb:hover {
    box-shadow: -2px 3px 1px white;
}
#scroller::-webkit-scrollbar-button {
    display: none;
}



.close-modal-btn {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

.close-modal-btn button {
    width: 35px;
    height: 35px;

    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255, 174, 0, 0.5);
    border-radius: 50%;

    background: rgba(255, 174, 0, 0.08);
    color: #ffae00;

    font-size: 18px;

    cursor: pointer;

    transition: all 0.2s ease;
}

.close-modal-btn button:hover {
    background: #ffae00;
    color: black;

    transform: scale(1.1);

    box-shadow: 0 0 15px rgba(255, 174, 0, 0.4);
}


dialog p {
    margin: 0;

    font-family: 'Ink Free';
    font-size: 1.4rem;

    line-height: 1.5;
    text-align: center;

    color: white;
}



.modal-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.modal-btns button {
    min-width: 90px;
    padding: 12px 20px;

    border: 1px solid #ffae00;

    background: #ffae00;
    color: black;

    font-family: 'Idiqlat';
    font-size: 1rem;

    cursor: pointer;

    transition: all 0.2s ease;
}

.modal-btns button:hover {
    border: 2px solid black;
    transform: scale(1.05);
    box-shadow: 3px 6px 2px 0 #ffae00;
}

dialog:not([open]) {
    display: none;
}

@keyframes opening {
    0% {
        transform: translateY(-100%);
    }
    70% {
        transform: translateY(5vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }
    70% {
        transform: translateX(1vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}